# Mac OS X
.DS_Store
.Trashes
Thumbs.db

# Espresso
*.espressostorage

# Laravel
/.idea
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
Homestead.json
Homestead.yaml
npm-debug.log

# Composer
composer.phar

# Other
todo.md
