<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews
	</IfModule>

	Options +FollowSymLinks
	RewriteEngine On

	# Removes trailing slashes
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.+)/$ /$1 [NE,R=301,L]

	# Handles front controller
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>
